.geologica-brand {
  font-family: "Geologica", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: x-large;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
}
.geologica-items {
    color: black;
    font-family: "Geologica", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: large;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0,
        "SHRP" 0;
}